            <h1>Your journey starts now</h1>
            <br>
            <h5>Thank you for signing up!</h5>
            <h6>We have sent you a confirmation email.  Please click the link to confirm your email so you can get started!</h6>
            <h6>The email may have been inadvertently send to your spam/trash folder.  Please mark this email as "not spam" so you can continue receiving updates from us!</h6>
            <br>
            <br>
            <h6>If you did not receive an email, please click the button below to send it again!</h6>