<div class="hero-full-screen">
  <div class="middle-content-section">
   <h4>Please enter your email below:</h4>
    <form id="form-reset" method="post" data-abide>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="grid-x cell small-12">
            <div class="cell small-12 medium-3">
              <label>Email:</label>
            </div>
            <div class="cell small-12 medium-9">
              <input type="text" name="user_email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" placeholder="address@example.com" required tabindex="1">
            </div>
          </div>
        </div>
	    <div class="grid-x cell small-4">
	      <input type="submit" class="button large expanded" formaction="/forgot" name="submit_forgot" tabindex="2" value="Reset Password">
	    </div>
      </div>
    </form>
  </div>
</div>