<div class="hero-full-screen">
  <div class="middle-content-section">
    <h4>A password reset email has been sent to {{email_address}}</h4>
    <h4>Please follow the instructions in the email send to <u>{{email_add}}</u> to reset your password.</h4>
    <br>
    <h6>The email may have been inadvertently send to your spam/trash folder.  Please mark this email as "not spam" so you can continue receiving updates from us!</h6>
    <h6>If you did not receive an email, please click the button below to send it again!</h6>
  </div>
</div>