  <div class="grid-container modal-window reveal" id="modal-form-user-auth" data-reveal>
    <div class="close-button" data-close aria-label="Close modal">
      <a aria-hidden="true" class="link-button" href="#">&times;</a>
    </div>
    <div class="modal-window-header">
      <div class="modal-window-banner"></div>
      <div class="modal-window-title">
        <div>
          <h3>Reset Password</h3>
        </div>
      </div>
    </div>
  
    <hr class="fancy-divider">
            
    <div class="modal-window-body">
      <form class="modal-window-form modal-toggle-mode-a" id="form-login" method="post" data-abide>
        <div class="grid-x">
          <div class="grid-x cell small-12">
            <div class="cell small-12 medium-3">
              <label for="user_pass1">Password:</label><br>
            </div>
            <div class="cell small-12 medium-9">
              <input type="password" class="fancy-input" id="register-password" name="user_pass1" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z])(?=.*[!@#$%^&*=|;:'/?.,\-\[\]\{\}\\\(\)\<\>]).{8,32}$" required tabindex="1">
            </div>
          </div>
          <div class="grid-x cell small-12">
            <div  class="cell small-12 medium-3">
              <label for="user_pass2">Password: <small>(confirm)</small></label>
            </div>
            <div class="cell small-12 medium-9">
              <input type="password" class="fancy-input" id="register-password" name="user_pass2" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z])(?=.*[!@#$%^&*=|;:'/?.,\-\[\]\{\}\\\(\)\<\>]).{8,32}$" required tabindex="2">
            </div>
          </div>
        {{#if error}}
          <div class="alert callout">{{error_desc}}</div>
        {{/if}}
          <div class="cell small-12">
            <input type="submit" class="button large expanded" formaction="/reset" name="reset_password" tabindex="3" value="Login">
          </div>
        </div>
      </form>
    </div>
  </div>