  <div class="app">
    <div>
      <div class="app-header">
        <header>
          <div class="header-nav">
          </div>
  	    </header>
  	  </div> 
  	  
  	  <div class="app-body">
  	    <main>
<h1>404 NOT FOUND</h1>
  	    </main>
  	  </div>
    
      <div class="app-footer">
  	    <footer>
  	    </footer>
      </div>
    </div>
  </div>