  <div class="app">
    <header>
      <div class="app-header">
        <div class="header-nav">
          <nav class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li><a class="link-button" data-open="modal-form-user-auth" href="#alpha" id="login-button">Alpha</a></li>
                <li><a class="link-button" data-open="modal-form-user-auth" href="#bravo" id="signup-button">Bravo</a></li>
              </ul>
            </div>
            
            <div class="top-bar-right">
              <ul class="menu">
                <li><a class="link-button" data-open="modal-form-user-auth" href="#xray" id="login-button">X-Ray</a></li>
                <li><a class="link-button" data-open="modal-form-reset-password" href="#change-password" id="signup-button">Yankee</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header> 
 	  
  	<main>
      <div class="app-body">
          {{> (portal) }}
      </div>
  	</main>
  	      
  	<footer>
  	</footer>
  </div>