* {
    box-sizing: border-box;
    
    user-select:            none;    /* No text selection */
    -moz-user-select:       none;
    -ms-user-select:        none;
    -o-user-select:         none;
    -webkit-user-select:    none;
    -webkit-touch-callout:  none;   /* iOS only */
}

.hero-full-screen {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.criteria-list-box {
    margin-top: 3px;
}

.criteria-list {
    list-style-type: none;
    margin-left: 0;
}
